.navbar-brand {
    font-size: 40px;
    color: white;
    
}

.search-header {
    font-size: 30px;
    font-weight: bold;
}

.city-name {
    font-size: 35px;
}

.forecast-date {
    font-size: 25px;
}

