.navbar-brand {
    font-size: 36px;
    color: white;
    background-color: rgb(211, 13, 96);
    
}
.bg-dark {
    background-color: rgb(211, 13, 96)!important;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

body {
    padding: 50px;
}

#search-button {
    background-color: rgb(233, 130, 173);
    border-color: rgb(233, 130, 173);
}

#clear-history {
    background-color: rgb(124, 75, 96);
    border-color: rgb(124, 75, 96);
}