.navbar-brand {
    font-size: 36px;
    color: white;

}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

body {
    padding: 50px;
}

